---
import BaseLayout from "../layouts/BaseLayout.astro";
import HighlightedButton from "../components/HighlightedButton.astro";
---

<BaseLayout title="Shawn Lee | Page Not Found">
    <div class="my-auto text-center">
        <h2 class="text-2xl md:text-4xl font-semibold">404</h2>
        <h1 class="text-4xl md:text-6xl font-bold mb-5">Page Not Found</h1>
        <p class="mb-10">Sorry, the page you are looking for does not exist.</p>
        <HighlightedButton href="/">Return Home</HighlightedButton>
    </div>
</BaseLayout>