---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from 'astro:content';

const allBlogPosts = await getCollection('blog');
---

<BaseLayout title="Shawn Lee | Blogs">
    <h1 class="text-4xl xl:text-6xl font-bold mb-10">Blogs</h1>
    <ul>
        {allBlogPosts.map((post) => (
            <li>
                <div class="p-5 rounded-md bg-zinc-200 dark:bg-zinc-800">
                    <a
                        href={`/blog/${post.slug}`}
                        class="font-medium text-lg">
                        {post.data.title}
                    </a>
                    <p class="text-zinc-700 dark:text-zinc-300">{post.data.date.toLocaleDateString("en-SG")}</p>
                    <p>{post.data.description}</p>
                </div>
                
            </li>
        ))}
    </ul>
    
</BaseLayout>