---
import BaseLayout from "../layouts/BaseLayout.astro"
import Experience from "../components/Experience.astro";
import Prose from "../components/Prose.astro";
import { Icon } from 'astro-icon/components'
import { getCollection, getEntry } from 'astro:content';

const about = await getEntry("misc", "about");
const { Content: AboutSection } = await about.render();
const allExperiences = await getCollection("experience");
---

<BaseLayout title="Shawn Lee">
	<div class="">
		<section>
		<h1 class="text-4xl font-bold">Shawn Lee</h1>
		<p class="text-2xl font-semibold">Machine Learning Engineer</p>
		<p>I write code for deep neural networks.</p>
		<div class="flex gap-1 mt-5 items-center">
			<a href="/resume.pdf" class="p-3 rounded-3xl text-white font-medium bg-orange-600">
				View My Resume
			</a>
			<a
				href="https://github.com/ShawnLJW"
				title="View my GitHub profile"
				aria-label="GitHub">
				<Icon name="mdi:github" class="size-10" />
			</a>
			<a
				href="https://www.linkedin.com/in/shawnljw/"
				title="Connect with me on LinkedIn"
				aria-label="LinkedIn">
				<Icon name="mdi:linkedin" class="size-10" />
			</a>
			<a
				href="mailto:contact@shawnljw.com"
				title="Contact me via email"
				aria-label="Email">
				<Icon name="mdi:email" class="size-10" />
			</a>
		</div>
	</section>

	<section id="about">
		<h2 class="pt-5 text-lg font-medium">About</h2>
		<Prose>
			<AboutSection/>
		</Prose>
	</section>
	</div>
	
	
	<section id="experience">
		<h2 class="pt-5 text-lg font-medium">Experience</h2>
		<ul>
			{allExperiences.map((experience) => 
				<li>
					<Experience experience={experience} />
				</li>
			)}
		</ul>
	</section>
</BaseLayout>
