---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { getCollection, getEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import HighlightedButton from "../components/HighlightedButton.astro";
import Prose from "../components/Prose.astro";

const about = await getEntry("misc", "about");
const { Content: AboutSection } = await about.render();
const allExperiences = await getCollection("experience");
const allCompanies = await getCollection("companies");
---

<BaseLayout title="Shawn Lee">
	<div class="flex flex-wrap items-center place-content-between gap-x-10">
		<section>
			<h1 class="text-4xl xl:text-6xl font-bold">Shawn Lee</h1>
			<p class="text-2xl xl:text-4xl font-semibold">Machine Learning Engineer</p>
			<p class="xl:text-lg xl:mt-1">I write code for deep neural networks.</p>
			<div class="flex gap-1 mt-5 items-center">
				<HighlightedButton href="/resume.pdf">View My Resume</HighlightedButton>
				<a
					href="https://github.com/ShawnLJW"
					target="_blank"
					title="View my GitHub profile"
					aria-label="GitHub">
					<Icon name="mdi:github" class="size-10" />
				</a>
				<a
					href="https://www.linkedin.com/in/shawnljw/"
					target="_blank"
					title="Connect with me on LinkedIn"
					aria-label="LinkedIn">
					<Icon name="mdi:linkedin" class="size-10" />
				</a>
				<a
					href="mailto:contact@shawnljw.com"
					title="Contact me via email"
					aria-label="Email">
					<Icon name="mdi:email" class="size-10" />
				</a>
			</div>
		</section>

		<section id="about" class="max-w-xl">
			<h2 class="pt-5 text-lg font-medium">About</h2>
			<Prose>
				<AboutSection/>
			</Prose>
		</section>
	</div>
	
	
	<section id="experience">
		<h2 class="pt-5 text-lg font-medium">Experience</h2>
		<ul>
			{allExperiences.map(async (experience) => {
				const company = await getEntry(experience.data.company);
				const { Content: Description } = await experience.render();
				return (
					<li>
						<div class="flex items-center">
							<Image
								src={company.data.logo}
								alt={company.data.name}
								class="size-16 mr-2 rounded-lg"/>
							<div>
								<h3 class="font-medium">{ experience.data.title }</h3>
								<p>{company.data.name}</p>
								<p>
									{experience.data.startDate.toLocaleDateString('en-us', { year:"numeric", month:"short"})} -
									{experience.data.endDate.toLocaleDateString('en-us', { year:"numeric", month:"short"})}
								</p>
							</div>
						</div>
						
						<Prose>
							<Description />
						</Prose>
					</li>
				);
			})}
		</ul>
	</section>
</BaseLayout>
