---
import { Icon } from 'astro-icon/components'
---

<footer class="px-5 py-10 bg-zinc-200 dark:bg-zinc-800">
    <h5 class="font-medium">Get in touch</h5>
    <p></p>
    <a href="mailto:contact@shawnljw.com" class="flex items-center">
        <Icon name="material-symbols:mail"/>
        contact@shawnljw.com
    </a>
</footer>