---
import { Icon } from "astro-icon/components";
import ThemeButton from "./ThemeButton.astro";
---

<header class="w-screen fixed">
    <div id="navbar" class="bg-white dark:bg-zinc-900 transition-[transform,color,background-color]">
        <div class="flex md:hidden px-5 py-3">
            <div class="grow"></div>
            <button id="open-menu">
                <Icon
                    name="mdi:hamburger-open"
                    class="size-10"/>
            </button>
        </div>
        
        
        <div class="hidden md:flex max-w-screen-xl mx-auto px-20 py-3 items-center w-full">
            <nav class="flex grow gap-x-10">
                <a href="/" class="hover:text-zinc-600 dark:hover:text-zinc-300">Home</a>
                <a href="/blogs" class="hover:text-zinc-600 dark:hover:text-zinc-300">Blog</a>
            </nav>
            <div class="flex items-center gap-3">
                <span>Dark Mode</span>
                <ThemeButton />
            </div>
        </div>
    </div>

    <dialog id="menu" class="md:hidden block pointer-events-none translate-x-full [&[open]]:translate-x-0 h-full max-h-none my-0 mr-0 dark:bg-zinc-900 dark:text-white transition-[background-color,transform]">
        <div id="modal-container" class="size-full px-5 py-3">
            <button id="close-menu">
                <Icon
                    name="mdi:hamburger-close"
                    class="size-10"/>
            </button>
            <nav class="flex flex-col">
                <a href="/" class="">Home</a>
                <a href="/blogs" class="">Blog</a>
            </nav>
            <div class="flex items-center gap-3">
                <span>Dark Mode</span>
                <ThemeButton />
            </div>
        </div>
    </dialog>
</header>


<script>
    const navbar = document.getElementById("navbar") as HTMLElement;
    const menu = document.getElementById("menu") as HTMLDialogElement;
    const openMenuButton = document.getElementById("open-menu") as HTMLButtonElement;
    const closeMenuButton = document.getElementById("close-menu") as HTMLButtonElement;

    var prevScrollpos = window.scrollY;
    window.onscroll = function() {
        var currentScrollPos = window.scrollY;
        if (prevScrollpos > currentScrollPos) {
            navbar.classList.remove("-translate-y-full");
        } else {
            navbar.classList.add("-translate-y-full");
        }
        if (currentScrollPos == 0) {
            navbar.classList.remove("shadow-lg");
        } else {
            navbar.classList.add("shadow-lg");
        }
        prevScrollpos = currentScrollPos;
    }

    openMenuButton.addEventListener("click", () => {
        menu.showModal();
        menu.classList.remove("pointer-events-none");
    });
    closeMenuButton.addEventListener("click", () => {
        menu.close();
        menu.classList.add("pointer-events-none");
    });
    menu.addEventListener("click", (event) => {
        if (event.target === menu) {
            menu.close();
        }
    });
</script>