<button theme-toggle
    class="w-16 h-8 rounded-2xl shadow-inner shadow-zinc-600 bg-zinc-200 dark:bg-zinc-700">
    <div class="w-8 h-8 rounded-2xl shadow-inner shadow-zinc-500 transition-transform bg-white dark:bg-zinc-100 dark:float-right"></div>
</button>

<script>
    const toggleTheme = () => {
        const element = document.documentElement;
        if (localStorage.theme === "dark") {
            localStorage.theme = "light";
            element.classList.remove("dark");
        } else {
            localStorage.theme = "dark";
            element.classList.add("dark");
        }
    };

    const buttons = document.querySelectorAll("[theme-toggle]");
    buttons.forEach((toggleButton) => {
        toggleButton.addEventListener("click", toggleTheme);
    });
</script>