---
import BaseLayout from "../layouts/BaseLayout.astro"
const { frontmatter } = Astro.props;
---

<BaseLayout title={`Shawn Lee - ${frontmatter.title}`}>
	<h1 class="text-2xl font-bold mb-5">{frontmatter.title}</h1>
	<slot />
</BaseLayout>

<style is:global>
	h2 { @apply text-lg font-bold mb-3; }
	h3 { @apply font-bold mb-3; }
	img { @apply mb-5; }
</style>